<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h1 class="text-center display-1 text-light mt-3 mb-5">GAME OVER</h1>
      <h1 class="text-center display-1 text-light mt-3 mb-5">{{mindSpaceSvc.gameTimer()*100 | number: '1.0-0'}}</h1>
    </div>
  </div>

  <div class="row mt-5 pt-5">
    <div class="col">
      <h1 class="text-center display-1 text-light mt-3 mb-5"></h1>
      <h1 class="text-center display-1 text-light mt-3 mb-5">{{gameStateStore.gameEndState()}}</h1>
    </div>

    <div class="row">
      <div class="col mt-5">
        <div class="col-sm-2 col-lg-1 col-xl-1 d-grid text-end">
          <button class="btn btn-outline-light btn-lg mb-3" (click)="backToLanding()">Back To Main Menu</button>
        </div>
      </div>
    </div>
  </div>
</div>