<div class="bg-primary opacity-25"></div>
<ul>
    @for (score of highScoreOfTheDay$; track $index) {
    <ol class="text-light">
        name: {{score.name.string}}
    </ol>
    <ol class="text-warning">
        score: {{score.score.string}}
    </ol>
    }
</ul>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <div class="col-sm-2 col-lg-1 col-xl-1 d-grid text-end">
                <button class="btn btn-outline-light btn-lg mb-3" (click)="backToLanding()">Back</button>
            </div>
        </div>
    </div>
</div>

@if (gameStateStore.loggedIn() === false) {
    <div class="container">
        <div class="row justify-content-center">
    
            <button class="btn btn-outline-light btn-lg mb-3" (click)="createAccount()">Make New Account</button>
    
    
            <button class="btn btn-outline-light btn-lg mb-3" (click)="login()">Login</button>
    
        </div>
    </div>
} @else {
    <div class="container">
        <div class="row justify-content-center">
            <button class="btn btn-danger btn-lg mb-3 opacity-75" (click)="play()">PLAY</button>
        </div>
    </div>
}