@if ("highScoreOfTheDay$ | async") {
    <p>Loaded</p>
@for (score of highScoreOfTheDay$; track $index) {
    
}
} @else {
    <p>Loading...</p>
}

@if ("allTimeHighScore$ | async") {
    <p>Loaded</p>
@for (score of allTimeHighScore$; track $index) {
    
}
} @else {
    <p>Loading...</p>
}

<!-- if havent log in state show login/create acc buttons -->
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col mt-5">
            <div class="col-sm-2 col-lg-1 col-xl-1 d-grid text-end">
                <button class="btn btn-outline-light btn-lg mb-3" (click)="backToLanding()">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">

        <button class="btn btn-outline-light btn-lg mb-3" (click)="createAccount()">Make New Account</button>


        <button class="btn btn-outline-light btn-lg mb-3" (click)="login()">Login</button>

    </div>
</div>

<!-- if logged in state === true show only high scores of the day/high score all time/personal high score
and play button -->