<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <h1 class="text-light text-center">DAILY RANKS</h1>
                @for (score of highScoreOfTheDay$; track $index) {
                <ol class="text-light text-center">
                    <span class="fw-bold">{{$index + 1}}</span>) {{score.name.string}}
                </ol>
                <ol class="text-warning text-center">
                    score: {{score.score.string}}
                </ol>
                <ol class="text-light text-center">~~~~~~~~~~~~~~~~~~~~</ol>
                }
            </ul>
        </div>

        <div class="col">
            @if (gameStateStore.loggedIn() === false) {
                <form [formGroup]="userForm" class="text-light text-center">
                    <div class="mt-5">
                        <label class="label">Username:</label>
                        <br>
                        <input type="text" formControlName="username">
                        @if(userForm.get('username').invalid && (userForm.get('username').dirty || userForm.get('username').touched)) {
                
                        @if (userForm.get('username')?.hasError('required')) {
                        <div class="text-danger">Please enter a username</div>
                        }@else if (userForm.get('username')?.hasError('whitespacelengthcheck')) {
                        <div class="text-danger">
                            Please make sure username is between 5-32 characters and there is no white space at the start or
                            end
                        </div>
                        }
                
                        }
                    </div>
                    <div>
                        <label class="label">Password:</label>
                        <br>
                        <input type="text" formControlName="password">
                        @if(userForm.get('password').invalid && (userForm.get('password').dirty || userForm.get('password').touched)) {
                
                        @if (userForm.get('password')?.hasError('required')) {
                        <div class="text-danger">Please enter a password</div>
                        }@else if (userForm.get('password')?.hasError('whitespacelengthcheck')) {
                        <div class="text-danger">Please make sure password is between 5-32 characters and there is no white space at the
                            start or
                            end
                        </div>
                        }
                
                        }
                    </div>
                </form>
                
                
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <button class="btn btn-outline-light btn-lg mb-3" [disabled]="userForm.invalid" (click)="createAccount()">Make
                            New Account</button>
                
                        <button class="btn btn-outline-light btn-lg mb-2" [disabled]="userForm.invalid" (click)="login()">Login</button>
                    </div>
                
                    @if (errorBoolean) {
                    <div class="row justify-content-center">
                        <div class="text-danger text-center fw-bold display-5">
                            {{errorMsg}}
                        </div>
                    </div>
                    }
                </div>
                
                
                } @else {
                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <div class="text-light text-center display-5">
                            Welcome Back <span class="text-success fw-bold">{{gameStateStore.username()}}</span>
                        </div>
                        <div class="text-light text-center display-5">
                            Your current high score is <span class="text-success fw-bold">{{gameStateStore.userHighScore()}}</span>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <button class="btn btn-outline-light btn-lg mb-3" (click)="play()">PLAY</button>
                    </div>
                </div>
                }
            
        </div>

        <div class="col">
            <ul>
                <h1 class="text-light text-center">HALL OF FAME</h1>
                @for (score of allTimeHighScore$; track $index) {
                <ol class="text-light text-center">
                    <span class="fw-bold">{{$index + 1}}</span>) {{score.name.string}}
                </ol>
                <ol class="text-warning text-center">
                    score: {{score.score.string}}
                </ol>
                <ol class="text-light text-center">~~~~~~~~~~~~~~~~~~~~</ol>
                }
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col mt-5">
            <div class="col-sm-2 col-lg-1 col-xl-1 d-grid text-end">
                <button class="btn btn-outline-light btn-lg mb-3" (click)="backToLanding()">Back</button>
            </div>
        </div>
    </div>
</div>


