<canvas #rendererCanvas id="rendererCanvas"></canvas>

<!-- guide on how to play the game
game mechanics! (dash, punch, walk keybind, look around with mouse)
^visual aid with in game screen shot in assets (just ng src it lol) -->

<div class="text-light text-center display-4 mt-5 pb-3">WASD to move</div>
<div class="text-light text-center display-4 pb-3">Spacebar to punch</div>
<div class="text-light text-center display-4 pb-3">Q to naruto run</div>
<div class="text-light text-center display-4 pb-3">Keep invading balls out of the cage</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-3 col-xl-2 d-grid text-end">
        <a routerLink="/" class="btn btn-outline-light btn-lg mt-5 mb-3">Back</a>
      </div>
    </div>
  </div>

