<canvas #rendererCanvas id="rendererCanvas"></canvas>

<!-- add my name

who i am, passionate in software, why, abit on game dev (just a tad and also abit on the struggles of 3d game programming)

my current situation (deemed untrustworthy by deutsche bank)

support me by referring me for job opportunities! i am a passionate software developer and i am fairly confident in my learning abilities

add a spoiler or drop down or smth, for my email cus its kinda lame name lmao -->

<div class="text-light text-center display-2 mt-5 mb-5 pb-5 pt-5">I need a job, please send opportunities my way 😭</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-3 col-xl-2 d-grid text-end">
        <a routerLink="/" class="btn btn-outline-light btn-lg mb-3">Back</a>
      </div>
    </div>
  </div>

